<h1>Creating a task</h1>
<form action="/tasks/add" method="POST">
  <div class="form-control">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="What will you do?">
  </div>
  <div class="form-control">
    <label for="description">Description:</label>
    <textarea type="text" name="description" placeholder="Describe the task"></textarea>
  </div>
  <input type="submit" value="Create">
</form>