<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h1>Add user</h1>
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Enter a name">
        </div>
        <div>
            <input type="text" name="age" placeholder="Enter your age">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</body>
</html>